<!DOCTYPE html>
<html>
<head>
	<title>Couchrequest Calendar</title>

	<meta name="description" content="Full view calendar to display couchsurfing.org couch requests.">
	<meta name="keywords" content="Bootstrap,Calendar,HTML,CSS,JavaScript,couchsurfing,API">
	<meta name="author" content="Nikolay Derkach">
	<meta charset="UTF-8">

    <link rel="stylesheet" href="{{ url_for('static', filename="bootstrap-calendar/components/bootstrap3/css/bootstrap.min.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="bootstrap-calendar/components/bootstrap3/css/bootstrap-theme.min.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="bootstrap-calendar/css/calendar.css") }}">
    <link rel="stylesheet" href="{{ url_for('static', filename="bootstrap-calendar/css/bootstrap-switch.css") }}">


	<style type="text/css">
		.btn-twitter {
			padding-left: 30px;
			background: rgba(0, 0, 0, 0) url(https://platform.twitter.com/widgets/images/btn.27237bab4db188ca749164efd38861b0.png) -20px 9px no-repeat;
		}
		.btn-twitter:hover {
			background-position:  -21px -16px;
		}
	</style>
	<script type="text/javascript" src="{{ url_for('static', filename="bootstrap-calendar/js/spin.js") }}"></script>
	<script type="text/javascript">
		window.onload = function ()
		{ 
			document.getElementById('loading').style.visibility = "hidden";
			$('#cal-view').animate({ opacity: 1.0 });		
	        var cookie = function() {
	        	var result = null;
		        $.ajax("/check",
		        {
		        	statusCode: {
		         		204: function() {
		            		result = false;
		        		},
		 	         	200: function() {
		            		result = true;
		        		}
		        	},
		        	async:false
		        });
		        return result;
		    }();
			$('#refresh').bootstrapSwitch('setState', cookie);

		}
	</script>
</head>
<body>
 	<div id ="loading" style="position:fixed;top:50%;left:50%;visibility:visible;opacity:0.2"></div>
	<script>
		new Spinner().spin(document.getElementById('loading'));
	</script>

<div class="container">
	<div class="jumbotron">
		<h1>Couchrequest Calendar</h1>

		<p>All your couchrequests on a calendar. Realtime.</p>

		<a class="btn btn-default btn-primary" href="https://github.com/nderkach/couchsurfing-calendar">Fork on GitHub</a>
		<a href="https://twitter.com/nderkach" class="btn btn-default btn-twitter" data-show-count="false" data-size="large">Follow @nderkach</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
		</script>
	</div>

	<div class="page-header">

		<div class="pull-right form-inline">

			<a class="make-switch" id="refresh" data-toogle="tooltip"
			   title="Trigger automatic calendar refresh every day"
			   data-text-label="<i class='glyphicon glyphicon-refresh'></i>">
    			<input type="checkbox">
			</a>

			<button class="btn btn-default" id="snapshot"
					data-toogle="tooltip"
					title="Store a snapshot of your calendar">
				<span class="glyphicon glyphicon-floppy-save"></span> Create snapshot
			</button>

			<div class="btn-group">
				<button class="btn btn-primary" data-calendar-nav="prev"><< Prev</button>
				<button class="btn" data-calendar-nav="today">Today</button>
				<button class="btn btn-primary" data-calendar-nav="next">Next >></button>
			</div>
			<div class="btn-group">
				<button class="btn btn-warning" data-calendar-view="year">Year</button>
				<button class="btn btn-warning active" data-calendar-view="month">Month</button>
				<button class="btn btn-warning" data-calendar-view="week">Week</button>
				<button class="btn btn-warning" data-calendar-view="day">Day</button>
			</div>
		</div>

		<h3></h3>
	</div>

	<div class="row" id="cal-view">
		<div class="col-md-9">
			<div id="calendar"></div>
		</div>
		<div class="col-md-3">
<!-- 			<div class="row">
				<select id="first_day" class="form-control">
					<option value="" selected="selected">First day of week language-dependant</option>
					<option value="2">First day of week is Sunday</option>
					<option value="1">First day of week is Monday</option>
				</select>
				<select id="language" class="form-control">
					<option value="">Select Language (default: en-US)</option>
					<option value="fr-FR">French</option>
					<option value="de-DE">German</option>
					<option value="el-GR">Greek</option>
					<option value="it-IT">Italian</option>
					<option value="pl-PL">Polish</option>
					<option value="pt-BR">Portuguese (Brazil)</option>
					<option value="es-MX">Spanish (Mexico)</option>
					<option value="es-ES">Spanish (Spain)</option>
					<option value="ru-RU">Russian</option>
					<option value="sv-SE">Swedish</option>
				</select>
 				<label class="checkbox">
					<input type="checkbox" value="#events-modal" id="events-in-modal"> Open events in modal window
				</label>
			</div> -->

			<h4>Couchrequests</h4>
			<h5>Accepted</h5>
			<ul id="accepted" class="nav nav-list"></ul>
			<h5>Pending</h5>
			<ul id="pending" class="nav nav-list"></ul>

		</div>
	</div>

	<div class="clearfix"></div>
	<br><br>
	<div id="disqus_thread"></div>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	<div class="modal fade" id="events-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Event</h4>
				</div>
				<div class="modal-body" style="height: 400px">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

    <script type="text/javascript" src="{{ url_for('static', filename="bootstrap-calendar/components/jquery/jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="bootstrap-calendar/components/underscore/underscore-min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="bootstrap-calendar/components/bootstrap3/js/bootstrap.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename="bootstrap-calendar/components/jstimezonedetect/jstz.min.js") }}"></script>
<!--    <script type="text/javascript" src="{{ url_for('static', filename="bootstrap-calendar/js/language/fr-FR.js") }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename="bootstrap-calendar/js/language/de-DE.js") }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename="bootstrap-calendar/js/language/el-GR.js") }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename="bootstrap-calendar/js/language/it-IT.js") }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename="bootstrap-calendar/js/language/pl-PL.js") }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename="bootstrap-calendar/js/language/pt-BR.js") }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename="bootstrap-calendar/js/language/es-MX.js") }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename="bootstrap-calendar/js/language/es-ES.js") }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename="bootstrap-calendar/js/language/ru-RU.js") }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename="bootstrap-calendar/js/language/sv-SE.js") }}"></script>
-->
    <script type="text/javascript" src="{{ url_for('static', filename="bootstrap-calendar/js/calendar.js") }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename="bootstrap-calendar/js/app.js") }}"></script>

	<script type="text/javascript">
		var disqus_shortname = 'cscalendar';
		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
</div>
</div>
    <footer class="bs-footer" role="contentinfo">
    	<div class="container">
	        <p>Designed and built by <a href="http://twitter.com/nderkach" target="_blank">@nderkach</a>.</p>
	        <p>Stuff used: <a href="http://getbootstrap.com" target="_blank">Bootstrap3</a>, <a href="https://github.com/Serhioromano/bootstrap-calendar" target="_blank">Bootstrap Calendar</a>, <a href="https://github.com/nderkach/couchsurfing-python" target="_blank">Couchsurfing Python API</a> and <a href="http://http://flask.pocoo.org/" target="_blank">Flask</a> and multiple other Python 3 libraries.</p>
	        <p>No data is stored on our servers, everything is queried in real time.</p>
	        <p>This project is not commercial and its sole purpose is to help people manage their couchreqests.</p>
    	</div>
    	<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-37086340-4', 'couchrequests.com');
		  ga('send', 'pageview');
		</script>
		<!-- AddThis Smart Layers BEGIN -->
		<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
		<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51f247cb6126c4de"></script>
		<script type="text/javascript">
		  addthis.layers({
		    'theme' : 'transparent',
		    'share' : {
		      'position' : 'left',
		      'numPreferredServices' : 6
		    }   
		  });
		</script>
		<!-- AddThis Smart Layers END -->
		<script type="text/javascript" src="http://fgnass.github.io/spin.js/dist/spin.min.js"></script>
		<script src="{{ url_for('static', filename="bootstrap-calendar/js/bootstrap-switch.js") }}"></script>
		<script type="text/javascript">
			$("#snapshot").click( function() {
				// that = this
			 //    that.disabled = true;
    //     		var spinner = new Spinner().spin(this);
				// $.get("/save", function(data,status) {
				// 	alert("Your calendar is available at " + data);
				// 	spinner.stop();
				// 	console.log(this)
				// 	that.disabled = false;
				// });
				$("#snapshot").prop('disabled', true);
				$("#alert").remove();
		        $.ajax("/save",
		        	{}).done(function(data, status) {
		        		$("#snapshot").prop('disabled', false);
		        		$('<div class="alert alert-success alert-dismissable" id="alert"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><a href="' + data + '" target="_blank"> Your calendar is available here </a></div>').insertBefore("#cal-view").hide().slideDown("slow");
		        });
			});

			$('#refresh').on('switch-change', function (e, data) {
				$("#refresh").bootstrapSwitch('setActive', false);
				$("#alert").remove();
		        $.ajax("/save?cookie="+data.value,
		        	{}).done(function(data, status) {
		        		$("#refresh").bootstrapSwitch('setActive', true);
		        		$('<div class="alert alert-success alert-dismissable" id="alert"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><a href="' + data + '" target="_blank"> Your calendar is available here </a></div>').insertBefore("#cal-view").hide().slideDown("slow");
		        });
			});
		</script>
    </footer>
</body>
</html>
